<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/menu") %>
        <%- include("./partials/profile") %>
        <main>
            <h1><%= title %></h1>
            <% if(currentUser){ %>
            <h2>Welcome <%=currentUser.username %></h2>
            <p>You're logged in, so feel free to checkout the message board.</p>

            <% }else{%>
            <p>
                Please <a href="/log-in/">log in</a> to view and post on the
                message board.
            </p>
            <%}%>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
