<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/menu") %>
        <main>
            <div class="message-detail">
                <h1><%= title %></h1>

                <p><%= message.body_text %></p>

                <p>
                    <em>
                        Posted by <%= message.user.username %> on <%=
                        message.prettyDate %>
                    </em>
                </p>
            </div>
            <div class="messages">
                <h2>Comments</h2>
                <div class="comment">
                    <h3>A coment title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        a f a message. The body of a message. The body of a
                        message. The body of a message.The body of a message.
                    </p>
                </div>
                <div class="message">
                    <h3>A comment title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        essage.The body of a message.The body of a message.
                    </p>
                </div>

                <div class="comment-form">
                    <h3>New Comment</h3>
                    <form action="" method="POST">
                        <label for="title">Title:</label>
                        <br />
                        <input type="text" name="title" />
                        <br />
                        <label for="password">Body:</label>
                        <br />
                        <textarea col="200" rows="10" name="message"></textarea>

                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            <p>Welcome to <%= title %></p>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
