<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/menu") %>
        <main>
            <div class="messages">
                <h1><%= title %></h1>
                <% if(!currentUser) { %>
                <p>This board has restricted access</p>
                <p>
                    Please <a href="/log-in/">log in</a> to view and post on the
                    message board.
                </p>
                <% } else{%>
                    
                    <% for(var i=0; i<list_message.length; i++) {%>
                        <div class="message">
                            <h3> <%= list_message[i].title %></h3>
                            
                            <p> <%= list_message[i].body_text %></p>
                            <p> Posted by <%= list_message[i].user.username %> at <%= list_message[i].date %></p>

                            <div class="like-info">
                                <button class="btn like-btn" id="like-like">
                                    &#9825;
                                </button>
                                <p id="like-number">4</p>
                            </div>
                        </div>
                <% } %>

                <div class="message">
                    <h3>A message title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        a message.The body of a message.The body of a
                        message.The body of a message.The body of a message.The
                        body of a message.
                    </p>
                </div>

                <%}%>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
