<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/menu") %>
        <main>
                <!--  -->
                <% if(!currentUser) { %>
                <p>This post has restricted access</p>
                <p>
                    Please <a href="/log-in/">log in</a> to view and post on the
                    message board.
                </p>
                <% } else{%>
                     <div class="message-detail">
                        <h1><%= title %></h1>
                        <p><%= message.body_text %></p>

                        <p>
                            <em>
                                Posted by <%= message.user.username %> on <%=
                                message.prettyDate %>
                            </em>
                        </p>
                     </div>
                     <% if(comment_list==null) { %>
                        <p>There are no comments. Start the conversation.</p>
                     <% } else{%>
                    <div class="messages">
                    <% for(var i=0; i<comment_list.length; i++) {%>
                        <div class="comment">
                            
                            <p> <%= comment_list[i].body_text %></p>
                            <p><em> Posted by <%= comment_list[i].user.username %>  </em></p>
                            <div class="like-info">
                                <button class="btn like-btn" id="like-like">
                                    &#9825;
                                </button>
                                <p id="like-number">4</p>
                            </div>

                        </div>
                        <% } %>
                        
                    <% } %>
                <% } %>

                <!--  -->


                <div class="comment-form">
                    <h3>New Comment</h3>
                    <form action="" method="POST">
                        <label for="comment">Comment:</label>
                        <br />
                        <textarea col="200" rows="10" name="comment"></textarea>

                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </form>
                    <ul>
                        <% if(errors) { %> <% for (var i = 0; i < errors.length;
                        i++) { %>
                        <li class="error"><%= errors[i].msg %></li>
                        <%console.log(errors)%> <%}}%>
                    </ul>
                </div>
                </div>
            </div>
            <p>Welcome to <%= title %></p>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
