<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/menu") %>
        <main>
            <h1><%= title %></h1>

            <div class="messages">
                <div class="message">
                    <h3>A message title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        a message.The body of a message. The body of a message.
                        The body of a message. The body of a message.The body of
                        a message.
                    </p>
                    <div class="like-info">
                        <button class="btn like-btn" id="like-like">
                            &#9825;
                        </button>
                        <p id="like-number">4</p>
                    </div>
                </div>
                <div class="message">
                    <h3>A message title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        a message.The body of a message.The body of a
                        message.The body of a message.The body of a message.The
                        body of a message.
                    </p>
                </div>
                <div class="message">
                    <h3>A message title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        a message.The body of a message.The body of a
                        message.The body of a message.The body of a message.The
                        body of a message.
                    </p>
                </div>
                <div class="message">
                    <h3>A message title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        a message.The body of a message.The body of a
                        message.The body of a message.The body of a message.The
                        body of a message.
                    </p>
                </div>
                <div class="message">
                    <h3>A message title</h3>
                    <p>
                        The body of a message. The body of a message.The body of
                        a message.The body of a message.The body of a
                        message.The body of a message.The body of a message.The
                        body of a message.
                    </p>
                </div>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
