<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/menu") %>
        <main id="main">
            <div class="messages">
                <h2><%= title %></h2>
                <% if(!currentUser) { %>
                <p>This board has restricted access</p>
                <p>
                    Please <a href="/log-in/">log in</a> to view and post on the
                    message board.
                </p>
                <% } else{%>
                    <!-- For each message, make a post -->
                    <% for(var i=0; i<list_message.length; i++) {%>
                        <div class="message">
                            <!-- MESSAGE DETAILS -->
                            <div class="message-content">
                                <h3><a href="<%= list_message[i].url%>"> <%= list_message[i].title %> </a></h3>
                                
                                <p> <%= list_message[i].body_text %></p>
                                <p><em> Posted by<a href="/board/message/user/<%=list_message[i].user.id%>"> <%= list_message[i].user.username %> </a> </em></p>
                                <p><a href="<%= list_message[i].url%>">View comments...</a></p>
                            </div>
                            <!-- UPVOTER -->
                            <div class="vote-content">
                                <div>
                                    <button class="upvote-btn" id=<%=list_message[i].id %>></button>
                                </div>
                                
                                <p id="upvote-number-<%=list_message[i].id %>"><%=list_message[i].likes%></p>

                            </div>

                        </div>
                            
                <% } %>

            <%}%>
            </div>
        </main>
        <script src="/javascripts/upvote.js"></script>
        <%- include("./partials/footer") %>
    </body>
</html>
