<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/menu") %>
        <main>
            <div class="message-form">
                <h1><%= title %></h1>

                <p>
                    Create an account in order to sign up and see messages in
                    this forum.
                </p>
                <form action="" method="POST">
                    <label for="title">Title:</label>
                    <br />
                    <input type="text" name="title" />
                    <br />
                    <label for="password">Body:</label>
                    <br />
                    <textarea col="200" rows="10" name="message"></textarea>

                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
